@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    min-width: 0;
}

input{
    color-scheme: dark;
}

.rdp-root {
    --rdp-accent-color: #3b82f6; 
    --rdp-accent-background-color: #3b83f665; 
  }